<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title class="mat-card-title">Resend Email Link</mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="test@test.com" [formControl]="email" required>
          <mat-error *ngIf="this.email.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
        <button *ngIf="!serverAction" mat-stroked-button color="primary" class="btn-block" (click)="forgotPassword()"
                [disabled]="email.invalid">Send</button>
        <mat-spinner *ngIf="serverAction"></mat-spinner>
      </mat-card-content>
    </form>
  </mat-card>
</div>
