<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Reset password</mat-card-title>
        </mat-card-header>

        <form class="example-form">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <mat-label>Enter your new password</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="YourSecretPassword" [formControl]="password" (blur)="checkPasswordPattern()" required>
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
				<mat-icon>{{hidePassword? 'visibility_off': 'visibility'}}</mat-icon>
			  </button>
                    <mat-error *ngIf="this.password.invalid">{{getPasswordErrorMessage()}}</mat-error>
                </mat-form-field>
            </mat-card-content>
            <div class="invalid_container">
                <mat-icon *ngIf="!passwordPattern.hasUppercaseLetter" color='warn' class="icon_valid">highlight_off</mat-icon>
                <mat-icon *ngIf="passwordPattern.hasUppercaseLetter" color='primary' class="icon_valid">check_circle_outline</mat-icon>
                <p class="valid_text">At least 1 uppercase later</p>
            </div>
            <div class="invalid_container">
                <mat-icon *ngIf="!passwordPattern.hasDigit" color='warn' class="icon_valid">highlight_off</mat-icon>
                <mat-icon *ngIf="passwordPattern.hasDigit" color='primary' class="icon_valid">check_circle_outline</mat-icon>
                <p class="valid_text">At least 1 digit</p>
            </div>
            <div class="invalid_container">
                <mat-icon *ngIf="!passwordPattern.hasRequiredLength" color='warn' class="icon_valid">highlight_off</mat-icon>
                <mat-icon *ngIf="passwordPattern.hasRequiredLength"  color='primary' class="icon_valid">check_circle_outline</mat-icon>
                <p class="valid_text">The minimum length at least 8 characters</p>
            </div>
            <div class="invalid_container">
                <mat-icon *ngIf="!passwordPattern.hasSymbol" color='warn' class="icon_valid">highlight_off</mat-icon>
                <mat-icon *ngIf="passwordPattern.hasSymbol" color='primary' class="icon_valid">check_circle_outline</mat-icon>
                <p class="valid_text">At least 1 symbol (#?!@$%^&*-)</p>
            </div>
            <br>
            <button mat-stroked-button color="primary" class="btn-block" *ngIf="!serverAction" [disabled]='password.invalid' (click)='changePassword()'>Change Password</button>
            <mat-spinner *ngIf="serverAction"></mat-spinner>
        </form>
    </mat-card>

</div>
