<div class="price_list">
	<div class="price_list_body">
		<section class="total">
			<div style="padding: 24px;">
				<div class="bay_button_body">
					<button routerLink="../product-payment-page">
						<span class="bay_button_body_span_1">
							<span class="bay_button_body_span_2">
								Go to the design
							</span>
						</span>
					</button>
				</div>
			</div>

			<div class="Full_Price_Description">
				<div class="Full_Price_Quantity">
					<span style="color: #001a34;font-size: 20px;font-weight: 700;line-height: 1.4em;">Yours
						basket</span>
					<span style="color: #5a6c7d;font-size: 14px;line-height: 1.29em;text-align: end;">9 products</span>
				</div>
				<div class="Full_Price">
					<span style="color: #001a34;">Products (9)</span>
					<span
						style="color: #5a6c7d;font-size: 14px;line-height: 1.29em;text-align: end;font-weight: 700;">12&nbsp;150&nbsp;$</span>
				</div>
				<div class="Full_Price">
					<span style="color: #001a34;">Discount</span>
					<span
						style="color: #f91155;;font-size: 14px;line-height: 1.29em;text-align: end;font-weight: 700;">-1&nbsp;150&nbsp;$</span>
				</div>


				<div class="totalScoreWeb">
					<span style="color: #001a34;font-weight: 700;">Total cost</span>
					<span
						style="color: #001a34;;;font-size: 20px;line-height: 1.29em;text-align: end;font-weight: 700;">4&nbsp;000&nbsp;$</span>
				</div>
			</div>
		</section>
	</div>
</div>