$base_width: 100%;
.table-config {
  margin: 16px 16px 16px 32px;

}


table {
  width: $base_width;
}

.paginator {
  width: $base_width;
}

.filter {
  background-color: white;
}

.mat-form-field {
  top: 20px;
  font-size: 14px;
  width: $base_width;
}

td, th {
  width: 27%;
}
