<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>

  Waterloo Tennis Club
  <div fxShow="true" fxHide.lt-md="true"  class="nav-buttons" *ngIf="player">
    <button mat-raised-button color="primary" class="nav-object" routerLink=""><mat-icon>home</mat-icon> Home</button>
    <button mat-raised-button color="primary" class="nav-object" routerLink="./profile"><mat-icon>person</mat-icon> Profile</button>
    <button mat-raised-button color="primary" class="nav-object" (click)="logOut()"><mat-icon>logout</mat-icon> Logout</button>
  </div>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <ng-template #anonymousUser>
      <img class="avatar mat-elevation-z8" src="assets/anonymous.jpg"  alt="Your beautiful photo"/>
      <h4 class="name">Anonymous User</h4>
      <p class="designation">Anonymous</p>
      <mat-divider></mat-divider>

      <button mat-button class="menu-button" routerLink="">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>

      <mat-divider></mat-divider>
      <button mat-button class="menu-button" routerLink="./login">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>

      <button mat-button class="menu-button" routerLink="./register">
        <mat-icon>info</mat-icon>
        <span>Register</span>
      </button>
    </ng-template>

    <div *ngIf="this.player else anonymousUser">
    <img class="avatar mat-elevation-z8" src="assets/player.jpg"  alt="Your beautiful photo"/>
    <h4 class="name">{{this.firstName+ ' ' + this.lastName}}</h4>
    <p class="designation">Software Engineer</p>

    <div fxShow="false" fxShow.lt-md="true">
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button" routerLink="./profile">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    </div>


    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="./store">
      <mat-icon>shopping_cart</mat-icon>
      <span>Store</span>
    </button>

    <button mat-button class="menu-button" routerLink="./players">
      <mat-icon>people</mat-icon>
      <span>Players</span>
    </button>


    <button mat-button class="menu-button" routerLink="./singles-tennis-ladder">
      <mat-icon>info</mat-icon>
      <span>Tennis Ladder</span>
    </button>


    <button mat-button class="menu-button" routerLink="./payments">
      <mat-icon>payment</mat-icon>
      <span>Payments</span>
    </button>

    <button mat-button class="menu-button" routerLink="./court-booking">
      <mat-icon>book_online</mat-icon>
      <span>Court booking</span>
    </button>


    <div fxShow="false" fxShow.lt-md="true">
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" (click)="logOut()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
    </div>

    </div>
    <mat-divider></mat-divider>
    <img src="assets/WTC.jpg" class="logo" alt="WTC logo">
  </mat-sidenav>


  <mat-sidenav-content>
    <div class="content mat-elevation-z15">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
