<div *ngIf="currentTag; then tagSelected; else tagNotSelected"></div>
<ng-template #tagSelected>
  <div *ngIf="!serverLoadStoreItems; then loaded; else stillLoading"></div>


  <ng-template #stillLoading>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-template>


  <ng-template #loaded>
    <button mat-raised-button (click)="goBack()" class="back-button">Back</button>
    <div *ngIf="(allStoreItems | async) as allItems; else noItemsFound">
      <div *ngIf="allItems.length; else noItemsFound">
        <div class="grid-shop-container">
          <div *ngFor="let item of allItems">
            <div class="grid-shop-item">
              <img [src]="item.itemInfo.images[0]" width="150" height="150" alt="Item">
              <h1>{{item.itemInfo.name}}
                <mat-icon *ngIf="item.itemInfo.description" class="info_icon" color="primary"
                          [matTooltip]="item.itemInfo.description" matTooltipPosition="below">info
                </mat-icon>
              </h1>
              <h3>Remaining quantity: {{item.itemInfo.quantity}}</h3>
              <h3>Price: {{'$' + item.itemInfo.price}}</h3>
              <h3>Selected Quantity: {{item.selectedQuantity}}</h3>
              <mat-slider min="1" [max]="item.itemInfo.quantity>5?5: item.itemInfo.quantity"
                          [(ngModel)]="item.selectedQuantity"
                          [disabled]="item.itemInfo.quantity <=0"
                          [value]="item.selectedQuantity" color="primary" [thumbLabel]="true"></mat-slider>

              <hr>
              <button mat-raised-button color="primary"
                      (click)="addItemToPayments(item.itemInfo._id, item.itemInfo.name, item.selectedQuantity)"
                      [disabled]="serverLoadAddStorePayment">Add To Payments
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <ng-template #noItemsFound>
      <div>No Items Found</div>
    </ng-template>
  </ng-template>
</ng-template>


<ng-template #tagNotSelected>
  <div *ngIf="!serverLoadTags; then serverFinishedLoadingTags; else serverLoadingTags"></div>

  <ng-template #serverLoadingTags>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-template>


  <ng-template #serverFinishedLoadingTags>
    <div *ngIf="(allTags | async) as tags">
      <div class="grid-tag-container">
        <div class="grid-tag-item">
          <a routerLink='/private/user/store' [queryParams]="{tag: 'all'}">
            <h1>All</h1>
            <img src="https://c.tenor.com/wL_BPLh3K7QAAAAd/billy-herrington-cyberpunk.gif" width="200" alt="All tag">
          </a>
        </div>
        <div *ngFor="let tag of tags" class="grid-tag-item">
          <a routerLink='/private/user/store' [queryParams]="{tag: tag.name}">
            <h1>{{tag.name}}</h1>
            <img [src]="tag.img" width="150" [alt]="tag.name + ' Tag'">
          </a>
        </div>
      </div>
    </div>
  </ng-template>
</ng-template>



