@import "/src/assets/styles/buttons.scss";

.login-wrapper {
  // width: 434px;
  // height: 600px;
}
.login_but{
  float: left;
}
.Next_but{
  float: right;
}
.register-wrapper {
  border-style: solid;
  border-width: 1px;
  border-color: #CDCECF;
}

.login-wrapper .example-form {
  overflow: auto;
 // height: calc(100vh - 250px);
  // height: 600px;
  // max-width: 450px;
}

.login-wrapper .example-full-width,
.login-wrapper .btn-block {
  width: 100%;
}

.login-wrapper mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
}

.login-wrapper mat-card-header mat-card-title {
  font-size: 30px;
  margin: 0;
}

.login-wrapper .mat-card {
  padding: 40px 70px 50px;
}

.login-wrapper .mat-stroked-button {
  border: 1px solid currentColor;
  line-height: 54px;
  //  background: #FFF7FA;
}

.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.8375em 0;
}

.mat-form-field {
  margin-top: 12px;
}

.mat-radio-button {
  margin-left: 10px;
}

@media (max-width: 502px) {
  .login-wrapper .mat-card {
    padding: 40px 40px 40px;
  }
  .mat-radio-button {
    float: left;
    width: 100%;
  }
}

.policy {
  position: relative;
  margin-top: 10px;
  width: 100%;

}

.invalid_container {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.icon_invalid {
  color: #888888;
}

.valid_text {
  opacity: 70%;
  margin-left: 5px;
  margin-top: 2px;
  font-size: 75%;
}

.gender {
  margin-top: 5px;
}

.Agreement{
  display: flex;
}
.ok{
  margin: 16px 10px 10px 10px;
}


