<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title class="mat-card-title">Forgot password</mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="test@test.com" [formControl]="email" required>
          <mat-error *ngIf="this.email.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
        <button *ngIf="!serverAction" mat-raised-button color="primary" class="send-button" (click)="forgotPassword()"
          [disabled]="email.invalid">Send</button>
        <mat-spinner *ngIf="serverAction"></mat-spinner>
      </mat-card-content>
      <div class="nav_auth_bar">
        <button mat-button color="primary" routerLink="../login" style="top: 2px">Login</button>
     <!--   <a class="Create_Acc passive_but" routerLink="../register">Сreate an Аccount</a>-->
      </div>
    </form>
  </mat-card>
</div>
