<div class="content mat-elevation-z24">
	<div class="hr"></div>

	<div class="page_title">
		<div class="page_title_body">
			<div class="header">
				Payments
			</div>
		</div>
	</div>

	<div class="row">
		<div class="payments_list">
			<div class="payments_list_body">
				<div class="payments">
					<div class="controls">
						<mat-checkbox class="example-margin">Select all</mat-checkbox>
						<span style="margin-right: 0;color: #f91155;margin-left: 24px;cursor: pointer;">Remove
							selected</span>
					</div>
					<app-product-card></app-product-card>
				</div>
			</div>
		</div>
		<app-payment-card></app-payment-card>

	</div>
</div>