<div class="container">
  <!--<div class="block-first" [ngClass]="{'back_block_first':variable,'back_block_second':!variable }">
  </div>-->

  <div class="Element_slider_1 Element_slider"></div>
  <div class="Element_slider_2 Element_slider"></div>
  <div class="Element_slider_3 Element_slider"></div>


  <div class="containers">
    <input type="radio" id="i1" name="images" checked />
    <input type="radio" id="i2" name="images" />
    <input type="radio" id="i3" name="images" />
    <div class="slide_img" id="one">
      <!--<img src="/assets/img/img_for_events/Master_Klass/DSC05058.JPG">-->
      <label class="prev" for="i3"><span>&#x2039;</span></label>
      <label class="next" for="i2"><span>&#x203a;</span></label>
    </div>
    <div class="slide_img" id="two">
      <!--<img src="/assets/img/img_for_events/Master_Klass/DSC05073.JPG ">-->
      <label class="prev" for="i1"><span>&#x2039;</span></label>
      <label class="next" for="i3"><span>&#x203a;</span></label>
    </div>
    <div class="slide_img" id="three">
      <!--<img src="/assets/img/img_for_events/Master_Klass/DSC05206.JPG">-->
      <label class="prev" for="i2"><span>&#x2039;</span></label>
      <label class="next" for="i1"><span>&#x203a;</span></label>
    </div>
    <div id="nav_slide">
      <label for="i1" class="dots" id="dot1"></label>
      <label for="i2" class="dots" id="dot2"></label>
      <label for="i3" class="dots" id="dot3"></label>
    </div>
  </div>


  <div class="block-second">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>