<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="test@test.com" [formControl]="email" required>
          <mat-error *ngIf="this.email.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="YourSecretPassword"
            [formControl]="password" required>
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="this.password.invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-progress-bar mode="indeterminate" *ngIf="serverAction"></mat-progress-bar>
        <a routerLink="../forgot-password" style="font-size:13px;">Forgot password</a>
      </mat-card-content>
      <div class="login_button">
        <button mat-button color="primary" style="float:left; left: -15px;" routerLink="../register">Create
          account</button>
        <button mat-raised-button color="primary" style="float:right;" (click)="login()" class="log_but" [disabled]="serverAction">login</button>
      </div>
    </form>
  </mat-card>
</div>
