.card{
	align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.card_img{
	align-items: center;
    display: flex;
	height: 36px;
    justify-content: center;
    margin-right: 16px;
    width: 36px;
}
.card_img img{
    max-height: 36px;
    max-width: 36px;
}
.card_description{
	flex-direction: row;
	flex-grow: 1;
	justify-content: space-between;

	align-items: center;
    display: flex;
}
.title_card{
	font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin: 0;
}
