
.content{
  background-color: white;
  border-radius: 10px;
  margin: 16px 16px 16px 32px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 150px 16px 16px 16px;
}

h1{
  position: absolute;
  display:block;
  right: 50%;
  transform: (-50%, -50%);
}

mat-form-field{
  float: left;
  margin: 10px 10px 10px 10px;
}

.tables {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    overflow: hidden;
    background: #ffffff;
}

.tables th,
.tables td {
    border: 1px solid #888;
    padding: 10px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.tables td:hover {
    background: #fffabe;
}

.book {
    background: #cecece !important;
}
