<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title class="mat-card-title">Resend Email Link</mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="test@test.com" [formControl]="email" required>
          <mat-error *ngIf="this.email.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-progress-bar mode="indeterminate" *ngIf="serverAction"></mat-progress-bar>
        <br *ngIf="serverAction">
        <button mat-raised-button color="primary" class="send-button" (click)="forgotPassword()"
                [disabled]="email.invalid || serverAction">Send</button>
      </mat-card-content>
    </form>
  </mat-card>
</div>
