<div class="content">
  <div *ngIf="(allCourtsInfo | async) as courtsShortInfo" fxLayout="row" fxLayoutAlign="center center">
    <div *ngFor="let courtInfo of courtsShortInfo">
      <div style="margin-left: 20px">
        <h4>{{courtInfo.courtType}}</h4>

        <img *ngIf="!courtServerLoading"
             class="court_type_img"
             width="200"
             [ngStyle]="{'filter': this.selectedCourtType===courtInfo.courtType? 'grayscale(0%)' : 'grayscale(100%)'}"
             [src]="courtInfo.images[0]"
             [alt]="courtInfo.courtType"
             (click)="loadCourt(courtInfo.courtType)">

        <img *ngIf="courtServerLoading"
             width="200"
             [ngStyle]="{'filter': this.selectedCourtType===courtInfo.courtType? 'grayscale(0%)' : 'grayscale(100%)'}"
             [src]="courtInfo.images[0]"
             [alt]="courtInfo.courtType">


        <!--       [routerLink]="'./' + courtInfo.courtType + '/'+ date">-->
        <h5>{{courtInfo.description}}</h5>
      </div>
    </div>
  </div>
  <div *ngIf="selectedCourtType">
    <div *ngIf="courtServerLoading; then stillLoading; else loaded"></div>

    <ng-template #stillLoading>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-template>

    <ng-template #loaded>
      <div *ngIf="courts">
        <div>
          <div class="table-content">
            <!--  <table class="table">

                <thead>
                <tr>
                  <th *ngFor="let court of courts.courts">
                    {{court.courtId}}
                  </th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let courtId of courts.courts">
                  <td *ngFor="let courtTime of courtId.time">
                    {{courtTime}}
                  </td>
                </tr>
                </tbody>

              </table>-->
            <table class="table">
              <ng-container *ngFor="let court of courts.courts">
                <thead>
                <tr>
                  <th>
                  <h2>{{court.courtId}}</h2>
                  </th>
                </tr>
                </thead>
                <tr *ngFor="let time of court.time; let i = index">
                  <td *ngIf="i === 2" colspan="2">{{time}}</td>
                  <td *ngIf="i !== 2">{{time}}</td>
                </tr>
              </ng-container>
            </table>

<!--            <table class="table">
              <thead *ngFor="let court of courts.courts">
                <th>{{court.courtId}}</th>
              </thead>

              <tbody>
              <tr *ngFor="let court of courts.courts">
                <td>{{court.courtId}}</td>
                <td>
                  <ul>
                    <li *ngFor="let time of court.time">
                      {{time}}
                    </li>
                  </ul>
                </td>
              </tr>
              </tbody>
            </table>-->
          </div>
        </div>
      </div>
    </ng-template>

  </div>
</div>


<!--  <mat-form-field class="dropdown" appearance="fill">
    <mat-label>Select an option</mat-label>
    <mat-select >
      <mat-option>None</mat-option>
      <mat-option value="option1" [routerLink]="indoor">Indoor</mat-option>
      <mat-option value="option2" [routerLink]="outdoor">Outdoor</mat-option>
      <mat-option value="option3" [routerLink]="wall">Wall</mat-option>
    </mat-select>
  </mat-form-field>-->
<!--  <hr class="hr-shelf">-->


