<div>
  <h2 mat-dialog-title>MY DIALOG</h2>
  <hr>
  <mat-dialog-content>
    Some boring COVID policy that you need to confirm
    <br>
    <br>
    <strong>{{data}}</strong>
  </mat-dialog-content>
  <hr>
  <mat-dialog-actions>
    <button md-raised-button (click)="onCloseConfirm()" mat-button color="basic" class="confirm_but">
      CONFIRM</button>&nbsp;
    <button md-raised-button (click)="onCloseCancel()" mat-button color="warn" class="cancel_but">DENIED</button>
  </mat-dialog-actions>
</div>