@import "/src/assets/styles/colors.scss";

.content {
	height: calc(100vh - 98px);
	border-radius: 10px;
	margin: 16px 16px 16px 32px;
	padding: 16px 16px 16px 16px;

 }
 .page_title{
	flex-basis: calc(83.3333% - 24px);
	max-width: calc(83.3333% - 24px);

	flex-grow: 0;
   flex-shrink: 0;

	margin-left: 50%;

	 align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 24px;
    margin-left: 24px;
    min-width: 0;
}
.page_title h1{
	font-size: 30px;
    line-height: 38px;
    font-weight: bold;

	 font-family: GTEestiPro,arial,sans-serif;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    text-transform: none;
    word-spacing: normal;
}
.back_but{
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	line-height: 18px;
	position: relative;
	color: #005bff;
}
 
 .row{
	justify-content: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: -24px;
	margin-left: -24px;
	max-width: calc(100% + 24px);
	width: calc(100% + 24px);
 }

 .payments_list{
	flex-basis: calc(55.6666% - 24px);
	max-width: calc(66.6666% - 24px);
	box-sizing: border-box;
   //display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin-bottom: -24px;
   margin-left: 25px;
   max-width: calc(100% + 24px);
   width: calc(100% + 24px);
}

.payments_list_body{
	align-items: center;
    background-color: #fff;
    display: flex;
    min-height: 48px;
    position: relative;
}

.payments{
	align-items: stretch;
	box-sizing: border-box;
	display: flex;
	flex: 1;
	flex-direction: column;
	min-width: 0;
}


.payments_body{
	background-color: #fff;
	border-radius: 2px;
	border-top: 1px solid rgba(0,26,52,.16);
	padding: 16px 16px 0px 16px;
	position: relative;
	transition: margin .3s ease-in-out;
	background-color: #fff;
}

.title_bar{
	align-items: center;
	background-color: #9494944d;;
	border-radius: 2px;
	color: #001a34;
	display: flex;
	font-size: 14px;
	justify-content: space-between;
	padding: 16px;
}

.title_bar section{
	align-items: center;
    display: flex;
    justify-content: flex-end;
}
.samov{
	color: black;
	font-size: 14px;
	line-height: 20px;
	height: 24px;
    padding: 3px 8px;
	 margin-left: 24px;

	 align-items: center;
    background-color: transparent;
    border-radius: 12px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    overflow: hidden;
}

.card_info{
	background-color: #fff;
	border-bottom: 1px solid rgba(0,26,52,.16);
	box-sizing: border-box;
	color: #001a34;
	display: flex;
	font-size: 14px;
	max-width: 100%;
	min-height: 124px;
	padding: 16px 0;
	width: 100%;
}

.card_checbox{
	margin-left: 3px;
	align-items: center;
	display: flex;
	justify-content: center;
}

.card_img{
	padding-top: 5px;
	align-items: center;
	display: flex;
	flex-direction: column;
}
.card_img_body{
	max-height: 42px;
   max-width: 42px;
}
.div{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	bottom: 0;
	flex-direction: column;
	height: 100%;
	left: 0;
	//position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.add_space{
	justify-content: flex-end;
	align-items: center;
	display: flex;
	width: 100%;
}
.space{
	justify-content: flex-end;
	align-items: center;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    min-height: 24px;
}

.card_description{
	align-items: flex-start;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 16px;
	max-width: 444px;
	width: 100%;
}

.description{
	color: #5a6c7d;
    font-size: 14px;
    line-height: 1.29em;
}

.card_but{
	align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
	 margin-top: 32px;
}
.card_but span{
	color: #005bff;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    line-height: 1.29em;
    margin-right: 16px;
}

.card_price{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 16px;
	width: 195px;
}
.price{
	align-items: flex-start;
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: space-between;
    line-height: 1.29em;
    margin-top: 4px;
}

.card_discount{
	align-items: flex-start;
	display: inline-flex;
	flex-wrap: wrap;
	font-size: 14px;
	justify-content: space-between;
	line-height: 1.29em;
	margin-top: 4px;
}
.card_original_price{
	align-items: center;
	display: inline-flex;
	margin-right: 4px;
}
.discount{
	align-items: center;
    display: inline-flex;
}