<div class="content">
  <div class="text" style="display: block; margin-left: auto; margin-right:auto">
    <h3>After pressing "Pay" button<br>Make sure to enter your <strong>real email</strong> to receive a receipt</h3>
    <h3><strong>Card Number must be 4242 4242 4242 4242</strong></h3>
    <h3>Each input field is required</h3>
    <h3>So, in order not to be confused, just simply write 4242.. <br> In "Card Information", "Expire Date", "CVC" & "Postal Code"</h3>
    <h3><strong>Below is an example of completed input fields</strong></h3>
  </div>
  <img src="https://wtc-bucket.s3.amazonaws.com/test-purchase-example.png" alt="Photo of example" width="400px">
</div>
