<div class="content">
  <div *ngIf="(allPurchases$ | async) as purchases; else noPurchases">
    <h1 class="to-issue-header">To Issue</h1>
    <table>
      <thead>
      <th scope="col">Item</th>
      <th scope="col">Qty</th>
      <th scope="col">Total</th>
      <th scope="col">Paid</th>
      <th scope="col">Issued</th>
      </thead>
      <tbody>

      <tr *ngFor="let purchase of purchases">
        <td class="item-name">{{purchase.name}}</td>
        <td>{{'x' + purchase.quantity}}</td>
        <td>{{'$' + purchase.price * purchase.quantity}}</td>
        <td>
          <mat-icon
            [color]="purchase.paid?'primary': 'warn'"
          >{{purchase.paid ? 'check' : 'close'}}</mat-icon>
        </td>
        <td>
          <mat-icon
            [color]="purchase.issued?'primary': 'warn'"
          >{{purchase.issued ? 'check' : 'close'}}</mat-icon>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noPurchases>
    <h1>No Purchases found</h1>
  </ng-template>
</div>



