<div class="payments_body">
	<div class="title_bar">
		<span style="font-weight: 700;">Products</span>
		<section>
			<div class="">
				<span></span>
			</div>
			<div class="samov">
				<span></span>
			</div>
		</section>
	</div>

	<div class="card_info">
		<div class="card_checbox">
			<mat-checkbox class="example-margin"></mat-checkbox>
		</div>
		<div class="card_img">
			<img loading="lazy" src="https://mobilmir71.ru/image/cache/catalog/417-1000x1000.png" alt=""
				class="card_img_body">
			<div class="div">
				<div class="add_space">
					<div class="space">
						<div style="display: flex;"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="card_description">
			<div class="card_title">
				<span><strong>Chips</strong></span>
				<div class="description">200g</div>

				<div class="card_but">
					<span>
						Remove
					</span>
				</div>
			</div>
		</div>
		<div class="card_price">
			<div class="price">
				<span style="font-size: 15px; color: rgb(0, 26, 52); font-weight: bold;"> 100&nbsp;$</span>
			</div>
			<div class="card_discount">
				<div class="card_original_price">
					<span style="font-size: 13px; color: rgb(128, 141, 154); text-decoration: line-through;">
						300&nbsp;$
					</span>
				</div>
				<div class="discount">
					<span style="color: rgb(249, 17, 85);">
						Discount 200&nbsp;$
					</span>
				</div>
			</div>
		</div>
		<div class="card_quantity">
			<div class="quantity">
				<mat-form-field appearance="fill">
					<mat-label>Quantity</mat-label>
					<mat-select>
						<mat-option *ngFor="let quantity of quantitys" [value]="
											quantity.value">
							{{quantity.viewValue}}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<!--<mat-form-field *ngIf="quantity.Value===imput_chek" class="example-form-field" appearance="fill">
					<mat-label>Clearable input</mat-label>
					<input matInput type="text">
				</mat-form-field>-->

				<div class="full_quantity">
					<span *ngIf="2>3" style="color: #5a6c7d;font-size: 12px;line-height: 16px;padding-top: 4px;">
						445&nbsp;
						$/pc.</span>
				</div>
			</div>
		</div>
	</div>


</div>