<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>

  Waterloo Tennis Club
  <!--  <div fxShow="true" fxHide.lt-md="true" class="nav-buttons" *ngIf="user">
      <button mat-raised-button color="primary" class="nav-object" routerLink="home">
        <mat-icon>home</mat-icon>
        Home
      </button>
      <button mat-raised-button color="primary" class="nav-object" routerLink="user/profile">
        <mat-icon>person</mat-icon>
        Profile
      </button>
      <button mat-raised-button color="primary" class="nav-object" (click)="logOut()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </div>-->

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <!--
    <ng-template #anonymousUser>
      <img class="avatar mat-elevation-z8" src="../../../assets/anonymous.jpg" alt="Your beautiful photo"/>
      <h4 class="name">Anonymous User</h4>
      <p class="designation">Anonymous</p>
      <mat-divider></mat-divider>

      <button mat-button class="menu-button" routerLink="home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>

      <mat-divider></mat-divider>
      <button mat-button class="menu-button" routerLink="./auth/login">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>

      <button mat-button class="menu-button" routerLink="./auth/register">
        <mat-icon>info</mat-icon>
        <span>Register</span>
      </button>
    </ng-template>
    -->

    <div *ngIf="this.user">
      <img class="avatar mat-elevation-z8"
           [src]="user.profile.img"
           alt="Your beautiful photo"/>
      <h4 class="name">{{this.firstName + ' ' + this.lastName}}</h4>
      <p class="designation">{{user.roles.indexOf('member') > -1 ? 'Member' : 'nonMember'}}</p>
      <p class="designation" *ngIf="user.profile.rating !== '-' || ''">{{user.profile.rating}}</p>

      <!-- <div fxShow="false" fxShow.lt-md="true">-->
      <mat-divider></mat-divider>
<!--      <button mat-button class="menu-button" routerLink="home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>-->
      <!--TODO uncomment when it's ready-->
      <button mat-button class="menu-button" routerLink="user/profile">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>

      <div *ngIf="(allPurchases$ | async) as purchases; else noPurchases">
        <button mat-button class="menu-button" routerLink="user/purchases">
          <mat-icon
            [matBadge]="countNotIssuedItems(purchases)"
            matBadgeColor="primary"
            matBadgeSize="small"
            [matBadgeHidden]="!countNotIssuedItems(purchases)">
            shopping_cart
          </mat-icon>
          <span>Purchases</span>
        </button>
      </div>
      <ng-template #noPurchases>
        <button mat-button class="menu-button" routerLink="user/purchases">
          <mat-icon>shopping_cart</mat-icon>
          <span>Purchases</span>
        </button>
      </ng-template>
      <!--      </div>-->


      <mat-divider></mat-divider>

      <button *ngIf="isMember()" mat-button class="menu-button" routerLink="user/store">
        <mat-icon>shopping_cart</mat-icon>
        <span>Store</span>
      </button>

      <!--      <button *ngIf="isMember()" mat-button class="menu-button" routerLink="user/courts">
              <mat-icon>date_range</mat-icon>
              <span>Court booking</span>
            </button>-->
      <button mat-button class="menu-button" routerLink="user/subscription">
        <mat-icon>book_online</mat-icon>
        <span>Subscription</span>
      </button>
      <mat-divider></mat-divider>

      <button *ngIf="isMember()" mat-button class="menu-button" routerLink="user/players">
        <mat-icon>people</mat-icon>
        <span>Players</span>
      </button>


<!--      <button *ngIf="isMember()" mat-button class="menu-button" routerLink="user/singles-tennis-ladder">
        <mat-icon>info</mat-icon>
        <span>Tennis Ladder</span>
      </button>-->

      <mat-divider *ngIf="isMember()"></mat-divider>
      <div *ngIf="(allPayments$ | async) as allPays; else noPayments">
        <div *ngIf="allPayments$; else noPayments">
          <button mat-button class="menu-button" routerLink="user/payments">

            <mat-icon
              [matBadge]="allPays.length"
              matBadgeColor="warn"
              matBadgeSize="small"
              [matBadgeHidden]="!allPayments$ || !allPays.length"
            >payment
            </mat-icon>
            <span>Payments</span>
          </button>
        </div>
      </div>
    </div>
    <ng-template #noPayments>
      <button mat-button class="menu-button" routerLink="user/payments">
        <mat-icon>payment</mat-icon>
        <span>Payments</span>
      </button>
    </ng-template>
    <!--      <div fxShow="false" fxShow.lt-md="true">-->
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" (click)="logOut()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
    <!--      </div>-->
    <!-- </div>-->
    <mat-divider></mat-divider>
    <img src="../../assets/img/WTC.jpg" class="logo" alt="WTC logo">
  </mat-sidenav>


  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
