<div class="content mat-elevation-z24">
  <div class="main">
    <div class="container">
      <div *ngIf="!serverLoadSubs; then readyToShow; else stillLoading"></div>
      <ng-template #stillLoading>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </ng-template>
      <ng-template #readyToShow>
        <div *ngIf="userSubscriptionInfo && userSubscriptionInfo.type!=='nonMember'">
          <h2>Subscription Info</h2>
          <h4>Type: {{this.userSubscriptionInfo.type}}</h4>
          <h4>Period: {{this.userSubscriptionInfo.subStarts + ' - ' + this.userSubscriptionInfo.subEnds}}</h4>
          <h4>Price: {{this.userSubscriptionInfo.price}}</h4>
          <h4>Paid At: {{this.userSubscriptionInfo.paidAt}}</h4>
        </div>
        <div *ngFor="let sub of this.subs" style="width:100%;">
          <h1>{{sub.subType}}({{sub.subStart + ' - ' + sub.subEnd}})</h1>
          <div class="fusion-pricing-table pricing-table-5 full-boxed-pricing">
            <div *ngFor="let subInfo of sub.subscriptions" style="width:100%;">
              <div class="panel-wrapper fusion-column column col-lg-3 col-md-3 col-sm-3">
                <div class="panel-container">
                  <div class="fusion-panel">
                    <div class="panel-heading">
                      <h2 class="title-row fusion-responsive-typography-calculated" data-fontsize="16"
                          style="--fontSize:16; line-height: 1.5; --minFontSize:16; margin: 0;" data-lineheight="16px">
                        {{subInfo.name}}
                      </h2>
                    </div>
                    <div class="panel-body pricing-row">
                      <div class="price "><span class="currency">$</span><span
                        class="integer-part">{{subInfo.price}}</span><span class="time price-without-decimal">per
                          season</span></div>
                    </div>
                    <div class="panel-footer footer-row">
                      <div class="fusion-button-wrapper">
                        <button mat-raised-button (click)="addToPayments(sub.subType, subInfo.name)"
                                [disabled]="serverLoadAddSubPayment">Add to Payments
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
